@import '../../variables.scss';

.about {
  background: linear-gradient(180deg, rgba(4, 15, 22, 1) 0%, rgba(26, 38, 46, 1) 80%);

  .about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    height: 900px;

    .about__text {
      line-height: 2rem;
      max-width: 1024px;
      text-align: center;
      padding-bottom: 5rem;

      .heading {
        margin-bottom: 2rem;
      }

      p {
        font-size: 1rem;
        @media (min-width: $breakpoint-md) {
          font-size: 20px;
        }
      }
    }

    .about__cloud-1 {
      background: url('/cloud-1.png') bottom left/100% auto no-repeat;
      bottom: 10rem;
      left: -5rem;
      position: absolute;
      width: 65%;
      height: 500px;
      z-index: 3;

      @media (min-width: $breakpoint-md) {
        width: 38%;
        bottom: 10rem;
        left: 0rem;
      }
    }

    .about__cloud-2 {
      background: url('/cloud-2.png') bottom right/100% auto no-repeat;
      position: absolute;
      bottom: 2rem;
      right: -5rem;
      width: 80%;
      height: 600px;
      z-index: 3;

      @media (min-width: $breakpoint-md) {
        width: 55%;
        bottom: 2rem;
        right: -5rem;
      }
    }

    .about__cloud-3 {
      background: url('/cloud-3.png') top right/120px auto no-repeat;
      position: absolute;
      top: 9rem;
      right: 2rem;
      width: 200px;
      height: 200px;
      z-index: 3;

      @media (min-width: $breakpoint-md) {
        background-size: 180px;
        top: 11rem;
        right: 10%;
      }
    }

    .about__moon {
      background: url('/moon.png') top center/100px auto no-repeat;
      position: absolute;
      top: 13%;
      left: 2%;
      width: 150px;
      height: 150px;
      z-index: 2;

      @media (min-width: $breakpoint-md) {
        background-size: 150px;
        top: 16%;
        left: 18%;
      }
    }
  }
}
