@import '../../variables';

.hero {
  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    text-align: start;
    align-items: start;
    padding: 19rem 1rem;
    gap: 10%;
    flex-wrap: wrap-reverse;
    position: relative;
  }
  padding: 3rem 1rem;
  margin: 0 auto;
  max-width: $maxwidth-md;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 3rem;
  text-align: center;

  .hero__section--a {
    .hero__text:nth-child(1) {
      font-size: 20px;
      margin-bottom: 5px;
      color: #fff783;
      @media (min-width: $breakpoint-md) {
        font-size: 24px;
      }
    }
    .hero__text:nth-child(3) {
      font-size: 1rem;
      margin-top: 1rem;
      @media (min-width: $breakpoint-md) {
        font-size: 24px;
      }
    }

    .hero__title {
      font-size: 36px;
      @media (min-width: $breakpoint-md) {
        font-size: 52px;
      }
    }

    .hero__buttons {
      margin: 2.6rem 0 4rem;
      display: flex;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;

      @media (min-width: $breakpoint-md) {
        margin: 3rem 0 4rem;
        justify-content: start;
      }

      .button {
        padding: 0.6rem 1.5rem;
      }

      .button:nth-child(1) {
        color: black;
        background-color: $yellow;
        border-radius: 2rem;
        font-weight: 500;
        border: 2px solid transparent;
        transition: 0.3s;

        &:hover {
          background-color: #ddda2ad4;
          border: 2px solid #fff;
        }
      }

      .button:nth-child(2) {
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 2rem;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
          background-color: #fff;
          color: black;
        }
      }
    }

    .hero__sosmed--list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3.4rem;
      font-size: 20px;
      @media (min-width: $breakpoint-md) {
        justify-content: start;
        gap: 3rem;
        margin-left: 28px;
      }
    }
  }

  .hero__section--b {
    .hero__img {
      border-radius: 100%;
      width: 200px;
      height: 200px;
      @media (min-width: $breakpoint-md) {
        width: 300px;
        height: 300px;
      }
    }
  }

  .hero__slider {
    display: flex;
    gap: 3rem;
    font-size: 32px;
    position: absolute;
    bottom: 3rem;
    left: -20rem;
    font-weight: 700;
    opacity: 0.3;
    cursor: default;
    @media (min-width: $breakpoint-md) {
      bottom: 5rem;
      font-size: 52px;
    }

    .slider__list {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
