@import '/app/variables';

.navbar {
  background-color: $dark-700;
  border-radius: 1rem;

  ul {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;

      .link {
        display: block;
        text-align: center;
        position: relative;
        padding: 1rem;
        border-radius: 2rem;
        transition: 0.3s;

        &:hover {
          background-color: $dark-500;
        }

        @media (min-width: $breakpoint-md) {
          padding: 1rem 1.5rem;
        }
        .underline {
          position: absolute;
          background-color: #fff;
          height: 3px;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
