@import '../../variables.scss';

.carousel {
  max-width: $maxwidth-md;
  margin: 0 auto;
  padding: 1rem 0;
  overflow: hidden;

  .carousel__container {
    display: flex;
    width: max-content;
    gap: 1rem;
  }
}
