@import '../../variables.scss';

.carousel__container-list {
  max-width: $maxwidth-md;
  width: calc(100vw - 0.3rem);
  padding: 0 1rem;
  display: grid;
  gap: 3rem;
  justify-items: center;
  align-content: start;

  @media (min-width: $breakpoint-md) {
    width: calc(100vw - 1rem);
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 3rem;
  }
}
