@import '../../variables.scss';

.projects {
  min-height: 100vh;
  padding: 7rem 0;
  max-width: $maxwidth-md;
  margin: 0 auto;

  .heading {
    text-align: center;
  }

  .projects__list {
    margin-top: 6rem;
  }
}
