@import '../../variables.scss';

.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: max-content;
  flex-direction: column;
  max-width: $maxwidth-md;
  width: 100%;
  padding: 8rem 1rem;
  margin: 0 auto;
  gap: 3rem;

  .skills__list-container {
    width: 100%;
    h3 {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 500;
      color: #d2d2d2;
    }

    .skills__list-ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
      gap: 1rem;

      @media (min-width: $breakpoint-md) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
      }

      li {
        background-color: #0f191f;
        list-style: none;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 1.2rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid #ffffff3d;
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
          font-size: 1.5rem;
        }
      }
    }
  }
}
