@import '../../variables.scss';

.contact__card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  max-width: 300px;
  padding: 1rem 2rem;
  gap: 0.4rem;
  border: 2px solid #ffffff98;
  border-radius: 2rem;
  transition: 0.3s;

  @media (min-width: $breakpoint-md) {
    gap: 0.7rem;
  }

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
